@import "tailwindcss";

.heart {
  width: 18px;
  height: 18px;
  display: inline-block;
  position: relative;
  transform: rotate(-45deg);
}
/* antes: #ffb2c6 (rosa) */
.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: #8fc5ff; /* azul suave a juego con azure-400 */
  border-radius: 50%;
}
